#testDiv1 {
  size: 50px;
  width: 25%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
}
#testDiv2 {
  size: 50px;
  width: 36%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
}
#testDiv3 {
  size: 50px;
  width: 36%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
}
#container {
  width: 100%;
}
